

.dryland-section{
    h3{
        color: #002447;
    } 
}

.dryland-section{
    .mask-group1{
        h3{
            font-size: 10px;
        }
    } & .mask-group2{
        h3{
            font-size: 10px;
        } 
    }
}


.dryland-section{
    .mask-group1{
        h3{
            top: 50%;
            right: 50%;
        }  
    } & .mask-group2{
        h3{
            top: 50%;
            right: 30%;
        }
    }
}

@media(min-width:768px){
    .dryland-section{
        .mask-group1{
            h3{
                font-size: 20px;
                top: 40px;
                right: 100px;
            }
        } & .mask-group2{
            h3{
                font-size: 20px;
                top: 40px;
                right: 40px;
            }
        }
    }
}

@media(min-width:992px){
    .dryland-section{
        .mask-group1{
            h3{
                font-size: 50px;
                top: 60px;
                right: 180px;
            }
        } & .mask-group2{
            h3{
                font-size: 50px;
                top: 40px;
                right: 40px;
            }
        }
    }
}



