
.footer{
    background-image: url("../img/footer/Mask Group6.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.footer{
    .item{
        font-family: $gotham;
        font-weight: 900!important;
    } & .item1{
        font-family: Gotham Book;
        font-size: 14px;
    } & .line{
        border: 1px solid white;
        width: 30%;
        margin-top: 30px;
        margin-bottom: 30px;
    } 
}

.footer{
    h5{
        letter-spacing: 5px;
    }
}

.footer{
    .social-media{
        h6{
            letter-spacing: 3px;
            font-size: 24px;
        }
    } & .social-media1{
        letter-spacing: 10px;
    } & .social-media2{
        letter-spacing: 10px;
    }
}

.footer{
    .sign-class{
        margin-left: 30px;
    }
}

.footer{
    .sign-class{
        .d-flex{
            background-color: #FF6600;
            padding: 5px 30px;
        } & h6{
            font-family: $gotham;
            font-weight: 700;
            font-size: 24px;
        }
    } & input{
        background-color: transparent;
        border: 1px solid white;
        padding: 7px 50px 7px 7px;
        margin-right: 140px;
    } & ::placeholder{
        color: white;
    }
}

.footer{
    .title1{
        text-align: left;
        font-family: $gotham;
        font-weight: 700;
        font-size: 22px;
    }
}

.footer{
    .program-item{
        border: 3px solid white;
        width: fit-content;
    } & .item1{
        font-family: $gotham;
        font-size: 14px;
        line-height: 26px;
    }
}

.footer{
    .meni{
        font-family: $gotham;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2px;
    }
}

@media(min-width:992px){
    .footer{
        .hidden-section{
            display: none;
        } & .meni{
            display: none;
        }
    } 
}

