
$anton: 'Anton', sans-serif;
$gotham: 'GothamBook', sans-serif;


img{
    max-width: 100%;
}

html{
    font-size: 10px; // 1 rem
}

h1, h1, h3, h4, h5, h6{
    font-family: $anton;
}

p{
    font-family: $gotham;
}