

//import fonts


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

//font-family: 'Anton', sans-serif;

$anton: 'Anton', sans-serif;
$gotham: 'GothamBook', sans-serif;

@font-face {
    font-family: Gotham Book;
    src: url(../fonts/Gotham-Font/GothamBook.ttf);
}
